@import "../App.scss";

.homeContainer{
    display: flex;
    flex-direction: column;
    margin: 20px 45px;
    align-items: center;
    justify-content: center;

    @include mobile{
        margin-top: 150px;
        padding-top: 50px;
      }

    h2{
        margin-bottom: 2px;
        color: rgba(34, 34, 34, 1);
        font-weight: 400;

        @include mobile{
            font-size: 1.2em;
          }
    }
    .subtitle{
        margin-top: 2px;
        font-weight: 300;

        @include mobile{
            font-size: 1em;
            width: 100%;
          }
    }
    
    

    .Container-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        background-color: rgba(245, 245,245, 1);
        border: 1px solid lightgray;
        border-radius: 3px;
        margin-bottom: 20px;

        h4{
            font-weight: 400;


        }

        .employee{

            @include mobile{
                display: none;
              }
            
        }
    }


    .Container-2{
        display: flex;
        align-items: center;
        justify-content: center ;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 3px;
        background-color: rgba(245, 245,245, 1);
        flex-wrap: wrap;
        

        .left{
            display: flex;
            flex-direction: column;
            padding: 20px;
            max-width: 300px;

            div{
                display: flex;
                .upload{
                    color: blue;
                }
            }   

            .list{
                display: flex;
                flex-direction: column;
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        font-size: 15px;
                        font-weight: 400;
                        .template{
                            color: blue;
                        }
                    }
                }

                

                
            }
        }

        .right{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            background-color: rgb(248, 248, 248);
            border: 1px solid lightgray;
            border-style: dashed;
            border-radius: 3px;
            font-size: 15px;
            max-width: 230px;

            .browse{
                color: blue;
                display: flex;
                flex-direction: column;
                cursor: pointer;
            }
        }

        
    }
}