
#root{
  /* max-width: 1280px; */
  margin: 0 auto
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul li{
  list-style: none;
}

.container{
  background-image: url("https://github.com/geoffgeorgein/home-page/blob/main/src/assets/Login_1.png?raw=true");
  height: 100vh;
  
  width: 100vw;
  margin: 0 auto;
  position:absolute;
  top:0px;
  left: 0px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
